---

- name: Create destination directories for tool configs
  ansible.builtin.file:
    path: "{{ item.value.dest_dir | default(ansible_user_dir) }}"
    state: directory
    mode: 0755
  loop: "{{ aqua_tools_config | dict2items }}"
  when: aqua_tools_config is defined and aqua_tools_config | length > 0

- name: Copy tool configuration files
  ansible.builtin.copy:
    src: "{{ item.value.src_file }}"
    dest: "{{ item.value.dest_dir | default(ansible_user_dir) }}/{{ item.value.dest_file }}"
    backup: true
    mode: 0644
  loop: "{{ aqua_tools_config | dict2items }}"
  when: aqua_tools_config is defined and aqua_tools_config | length > 0
