---

- name: Check if aqua already installed
  ansible.builtin.command: which aqua
  changed_when: false
  failed_when: false
  register: aqua_installed

- name: Install aqua
  ansible.builtin.include_tasks: install_{{ ansible_distribution }}.yml
  when: aqua_installed.rc != 0

- name: Create aquaproj config directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/aquaproj-aqua"
    state: directory
    mode: 0755

- name: Copy global aqua.yaml
  ansible.builtin.copy:
    src: aqua.yaml
    dest: "{{ ansible_user_dir }}/.config/aquaproj-aqua/aqua.yaml"
    backup: true
    mode: 0644

- name: Set shell info
  ansible.builtin.set_fact:
    shell_info: "{{ ansible_user_shell | shell_config }}"

- name: Setup environment variable
  ansible.builtin.blockinfile:
    path: '{{ ansible_user_dir }}/{{ shell_info.rc_file }}'
    marker: "# {mark} ANSIBLE MANAGED BLOCK aqua"
    block: |
      export AQUA_GLOBAL_CONFIG=$HOME/.config/aquaproj-aqua/aqua.yaml
      export PATH="$(aqua root-dir)/bin:$PATH"

- name: Install packages
  ansible.builtin.command: aqua --config ~/.config/aquaproj-aqua/aqua.yaml i
  register: aqua_install_package
  changed_when: aqua_install_package.stdout != ''

- name: Setup global config for each tools
  ansible.builtin.include_tasks: configure.yml
