extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments:
    min-spaces-from-content: 1
  comments-indentation: false
  document-start: disable
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
  line-length:
    max: 160
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
