[alias]
    unstage  = reset -q HEAD --
    tags     = tag
    branches = branch -a
    remotes  = remote -v
    graph    = log --graph --branches --remotes --tags --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order --all
    s        = status
    merged   = log --merges --first-parent --oneline

[user]
	email = thaim24@gmail.com
	name = thaim

[core]
	editor = vim

[push]
	default = simple

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[ghq]
	root = /home/{{ ansible_env.USER }}/src

[fetch]
    prune = true

[init]
    defaultBranch = main
