---

- name: Check if git installed
  ansible.builtin.command: which git
  register: status_git
  changed_when: false
  failed_when: false

- name: Install git
  ansible.builtin.include_tasks: install_{{ ansible_distribution }}.yml
  when: status_git.rc != 0

# needs to configure global .gitconfig and .gitignore files
# create backups due to these files are frequently modified locally
- name: Setup git config file
  ansible.builtin.template:
    src: gitconfig.j2
    dest: "{{ ansible_user_dir }}/.gitconfig"
    owner: "{{ ansible_env.USER }}"
    mode: 0644
    backup: yes

- name: Create global git directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/git/"
    state: directory
    owner: "{{ ansible_env.USER }}"
    mode: 0755

- name: Setup global gitignore file
  ansible.builtin.copy:
    src: gitignore_global
    dest: "{{ ansible_user_dir }}/.config/git/ignore"
    owner: "{{ ansible_env.USER }}"
    mode: 0644
    backup: yes

- name: Create global git hooks directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/git/hooks"
    state: directory
    mode: '0755'

- name: Locate pre-commit script
  ansible.builtin.copy:
    src: pre-commit
    dest: "{{ ansible_user_dir }}/.config/git/hooks/pre-commit"
    mode: '0755'

- name: Create git scripts directory
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/git/scripts"
    state: directory
    mode: '0755'

- name: Install branch-clean script
  ansible.builtin.copy:
    src: branch-clean.sh
    dest: "{{ ansible_user_dir }}/.config/git/scripts/branch-clean.sh"
    mode: '0755'

- name: Setup git-completion
  ansible.builtin.include_tasks: setup_git_completion.yml


- name: Install custom commands script
  ansible.builtin.copy:
    src: git-switch-default
    dest: /usr/local/bin/git-switch-default
    mode: '0755'

- name: Set shell info
  ansible.builtin.set_fact:
    shell_info: "{{ ansible_user_shell | shell_config }}"

- name: Override default command
  ansible.builtin.blockinfile:
    path: "{{ ansible_user_dir }}/{{ shell_info.rc_file }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK git command"
    block: |
      git() {
        if [ "$1" = "switch" ] && [ $# -eq 1 ]; then
          # git switchが引数なしで呼ばれた場合
          command git switch-default
        else
          # 引数がある場合や他のgitサブコマンドはそのまま実行
          command git "$@"
        fi
      }
